<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<h1>DETAIL DE L'ARTICLE</h1>
<h1>  <%= "#{@article.id}: #{@article.title} - #{@article.content}" %> </h1>

<%= link_to "Home", articles_path, method: :get%>
